.container{
    margin: 2px;
}

.label{
    display: inline-block;
    width: 100px;
}

.button{
    margin: 0 15px;
    border-radius: 50%;
    background-color: #87a7b3;
    color: white;
    border: solid thin white;
    cursor: pointer;
}

.button:hover{
    background-color: #766161;
    transition: background-color 0.5s;
}