.container{
    margin: 5px;
    min-height: 40px;
    min-width: 100px;
    border-radius: 30px 5px;
    border: solid thin #000;
    display: inline-block;
    cursor: pointer;
    
    transition: all 0.5s;
}

.container:hover{
    border-radius: 5px 30px;
}

.confirmButton {
    background-color: #00af91;
    color: white;
    border-color: #007965;
}

.confirmButton:hover{
    background-color: #007965;
}

.rejectButton {
    background-color: #ce1212;
    color: white;
    border-color: #810000;
}

.rejectButton:hover{
    background-color: #810000;
}

.disable, .disable:hover {
    border-radius: 30px 30px;
    background-color: #bbb;
    color: #555;
    border-color: #777;   
    cursor: not-allowed;
}